$bg-color: #f1f1f1;
$border-color: #eae8e8;

.main {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  height: 100%;

  .chatHeader {
    width: 100%;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;
    height: 60px;
    line-height: 60px;
    color: #006aff;
    font-size: 28px;
    font-weight: 700;
    padding-left: 15px;
  }

  .chat {
    background-color: $bg-color;
    overflow-y: auto;
    padding: 1rem;
    flex-grow: 1;
  }

  .form {
    background-color: $bg-color;
    border-top: 1px solid $border-color;
    color: white;
    height: 70px;
    width: 100%;

    .button {
      color: #006aff;
      background-color: white;
    }
    input{
      color: #202020;
      background-color: white;
    }
  }
}
